# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
dataset/test/3/00759.png
dataset/test/3/01879.png
dataset/test/3/07972.png
dataset/test/3/11448.png
dataset/test/3/16057.png
dataset/test/3/17940.png
dataset/test/3/19818.png
dataset/test/3/22142.png
dataset/test/3/31394.png
dataset/test/3/34626.png
dataset/test/3/38319.png
dataset/test/3/45359.png
dataset/test/3/58098.png
dataset/test/3/58132.png
dataset/test/3/58991.png
dataset/test/3/65036.png
dataset/test/3/68954.png
dataset/test/3/80005.png
dataset/test/3/85434.png
dataset/test/3/86551.png
dataset/test/no3/04990.png
dataset/test/no3/05655.png
dataset/test/no3/12540.png
dataset/test/no3/16450.png
dataset/test/no3/18934.png
dataset/test/no3/24583.png
dataset/test/no3/28322.png
dataset/test/no3/32455.png
dataset/test/no3/35684.png
dataset/test/no3/61217.png
dataset/test/no3/62084.png
dataset/test/no3/63582.png
dataset/test/no3/63619.png
dataset/test/no3/69621.png
dataset/test/no3/70759.png
dataset/test/no3/71198.png
dataset/test/no3/72694.png
dataset/test/no3/74003.png
dataset/test/no3/77606.png
dataset/test/no3/97511.png
dataset/train/3/00097.png
dataset/train/3/02638.png
dataset/train/3/03168.png
dataset/train/3/04103.png
dataset/train/3/05735.png
dataset/train/3/05899.png
dataset/train/3/06714.png
dataset/train/3/07105.png
dataset/train/3/13388.png
dataset/train/3/14901.png
dataset/train/3/15713.png
dataset/train/3/16714.png
dataset/train/3/17053.png
dataset/train/3/17218.png
dataset/train/3/19208.png
dataset/train/3/20059.png
dataset/train/3/20879.png
dataset/train/3/21016.png
dataset/train/3/21241.png
dataset/train/3/23508.png
dataset/train/3/24135.png
dataset/train/3/26318.png
dataset/train/3/26566.png
dataset/train/3/26894.png
dataset/train/3/27695.png
dataset/train/3/28306.png
dataset/train/3/29118.png
dataset/train/3/29126.png
dataset/train/3/30815.png
dataset/train/3/31034.png
dataset/train/3/31097.png
dataset/train/3/31336.png
dataset/train/3/31799.png
dataset/train/3/33199.png
dataset/train/3/33404.png
dataset/train/3/35387.png
dataset/train/3/35704.png
dataset/train/3/37816.png
dataset/train/3/39222.png
dataset/train/3/39431.png
dataset/train/3/40972.png
dataset/train/3/41286.png
dataset/train/3/44221.png
dataset/train/3/47597.png
dataset/train/3/48949.png
dataset/train/3/55512.png
dataset/train/3/58384.png
dataset/train/3/58649.png
dataset/train/3/58879.png
dataset/train/3/62200.png
dataset/train/3/63494.png
dataset/train/3/65812.png
dataset/train/3/65814.png
dataset/train/3/65839.png
dataset/train/3/73389.png
dataset/train/3/73712.png
dataset/train/3/74435.png
dataset/train/3/75642.png
dataset/train/3/76242.png
dataset/train/3/77213.png
dataset/train/3/80429.png
dataset/train/3/80980.png
dataset/train/3/81634.png
dataset/train/3/82139.png
dataset/train/3/84428.png
dataset/train/3/87444.png
dataset/train/3/88780.png
dataset/train/3/89770.png
dataset/train/3/90281.png
dataset/train/3/90484.png
dataset/train/3/91158.png
dataset/train/3/92990.png
dataset/train/3/93672.png
dataset/train/3/93893.png
dataset/train/3/96799.png
dataset/train/3/97249.png
dataset/train/3/97349.png
dataset/train/3/97726.png
dataset/train/3/99188.png
dataset/train/3/99806.png
dataset/train/no3/01225.png
dataset/train/no3/01652.png
dataset/train/no3/03251.png
dataset/train/no3/05923.png
dataset/train/no3/06617.png
dataset/train/no3/08408.png
dataset/train/no3/08854.png
dataset/train/no3/11509.png
dataset/train/no3/13233.png
dataset/train/no3/13641.png
dataset/train/no3/14040.png
dataset/train/no3/14131.png
dataset/train/no3/16252.png
dataset/train/no3/17177.png
dataset/train/no3/17685.png
dataset/train/no3/20922.png
dataset/train/no3/21097.png
dataset/train/no3/22041.png
dataset/train/no3/23842.png
dataset/train/no3/27234.png
dataset/train/no3/27616.png
dataset/train/no3/29552.png
dataset/train/no3/30219.png
dataset/train/no3/31572.png
dataset/train/no3/33291.png
dataset/train/no3/37785.png
dataset/train/no3/39697.png
dataset/train/no3/39960.png
dataset/train/no3/40807.png
dataset/train/no3/41270.png
dataset/train/no3/42535.png
dataset/train/no3/44852.png
dataset/train/no3/45921.png
dataset/train/no3/49036.png
dataset/train/no3/49951.png
dataset/train/no3/50080.png
dataset/train/no3/50799.png
dataset/train/no3/51878.png
dataset/train/no3/53120.png
dataset/train/no3/53999.png
dataset/train/no3/55375.png
dataset/train/no3/57945.png
dataset/train/no3/58171.png
dataset/train/no3/58201.png
dataset/train/no3/58645.png
dataset/train/no3/59707.png
dataset/train/no3/59798.png
dataset/train/no3/60290.png
dataset/train/no3/61445.png
dataset/train/no3/62151.png
dataset/train/no3/63272.png
dataset/train/no3/67893.png
dataset/train/no3/68088.png
dataset/train/no3/68200.png
dataset/train/no3/71159.png
dataset/train/no3/71888.png
dataset/train/no3/72427.png
dataset/train/no3/73156.png
dataset/train/no3/73240.png
dataset/train/no3/74982.png
dataset/train/no3/78449.png
dataset/train/no3/80114.png
dataset/train/no3/80276.png
dataset/train/no3/83214.png
dataset/train/no3/83313.png
dataset/train/no3/83780.png
dataset/train/no3/84909.png
dataset/train/no3/86629.png
dataset/train/no3/87193.png
dataset/train/no3/87570.png
dataset/train/no3/88405.png
dataset/train/no3/89929.png
dataset/train/no3/92693.png
dataset/train/no3/92966.png
dataset/train/no3/93593.png
dataset/train/no3/95328.png
dataset/train/no3/95338.png
dataset/train/no3/96939.png
dataset/train/no3/98231.png
dataset/train/no3/99395.png
