# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
dataset/test/3/00759.png
dataset/test/3/01879.png
dataset/test/3/07972.png
dataset/test/3/11448.png
dataset/test/3/16057.png
dataset/test/3/17940.png
dataset/test/3/19818.png
dataset/test/3/22142.png
dataset/test/3/31394.png
dataset/test/3/34626.png
dataset/test/3/38319.png
dataset/test/3/45359.png
dataset/test/3/58098.png
dataset/test/3/58132.png
dataset/test/3/58991.png
dataset/test/3/65036.png
dataset/test/3/68954.png
dataset/test/3/80005.png
dataset/test/3/85434.png
dataset/test/3/86551.png
dataset/test/no3/04990.png
dataset/test/no3/05655.png
dataset/test/no3/12540.png
dataset/test/no3/16450.png
dataset/test/no3/18934.png
dataset/test/no3/24583.png
dataset/test/no3/28322.png
dataset/test/no3/32455.png
dataset/test/no3/35684.png
dataset/test/no3/61217.png
dataset/test/no3/62084.png
dataset/test/no3/63582.png
dataset/test/no3/63619.png
dataset/test/no3/69621.png
dataset/test/no3/70759.png
dataset/test/no3/71198.png
dataset/test/no3/72694.png
dataset/test/no3/74003.png
dataset/test/no3/77606.png
dataset/test/no3/97511.png
dataset/train/3/00097.png
dataset/train/3/02638.png
dataset/train/3/03168.png
dataset/train/3/04103.png
dataset/train/3/05735.png
dataset/train/3/05899.png
dataset/train/3/06714.png
dataset/train/3/07105.png
dataset/train/3/13388.png
dataset/train/3/14901.png
dataset/train/3/15713.png
dataset/train/3/16714.png
dataset/train/3/17053.png
dataset/train/3/17218.png
dataset/train/3/19208.png
dataset/train/3/20059.png
dataset/train/3/20879.png
dataset/train/3/21016.png
dataset/train/3/21241.png
dataset/train/3/23508.png
dataset/train/3/24135.png
dataset/train/3/26318.png
dataset/train/3/26566.png
dataset/train/3/26894.png
dataset/train/3/27695.png
dataset/train/3/28306.png
dataset/train/3/29118.png
dataset/train/3/29126.png
dataset/train/3/30815.png
dataset/train/3/31034.png
dataset/train/3/31097.png
dataset/train/3/31336.png
dataset/train/3/31799.png
dataset/train/3/33199.png
dataset/train/3/33404.png
dataset/train/3/35387.png
dataset/train/3/35704.png
dataset/train/3/37816.png
dataset/train/3/39222.png
dataset/train/3/39431.png
dataset/train/3/40972.png
dataset/train/3/41286.png
dataset/train/3/44221.png
dataset/train/3/47597.png
dataset/train/3/48949.png
dataset/train/3/55512.png
dataset/train/3/58384.png
dataset/train/3/58649.png
dataset/train/3/58879.png
dataset/train/3/62200.png
dataset/train/3/63494.png
dataset/train/3/65812.png
dataset/train/3/65814.png
dataset/train/3/65839.png
dataset/train/3/73389.png
dataset/train/3/73712.png
dataset/train/3/74435.png
dataset/train/3/75642.png
dataset/train/3/76242.png
dataset/train/3/77213.png
dataset/train/3/80429.png
dataset/train/3/80980.png
dataset/train/3/81634.png
dataset/train/3/82139.png
dataset/train/3/84428.png
dataset/train/3/87444.png
dataset/train/3/88780.png
dataset/train/3/89770.png
dataset/train/3/90281.png
dataset/train/3/90484.png
dataset/train/3/91158.png
dataset/train/3/92990.png
dataset/train/3/93672.png
dataset/train/3/93893.png
dataset/train/3/96799.png
dataset/train/3/97249.png
dataset/train/3/97349.png
dataset/train/3/97726.png
dataset/train/3/99188.png
dataset/train/3/99806.png
dataset/train/no3/01225.png
dataset/train/no3/01652.png
dataset/train/no3/03251.png
dataset/train/no3/05923.png
dataset/train/no3/06617.png
dataset/train/no3/08408.png
dataset/train/no3/08854.png
dataset/train/no3/11509.png
dataset/train/no3/13233.png
dataset/train/no3/13641.png
dataset/train/no3/14040.png
dataset/train/no3/14131.png
dataset/train/no3/16252.png
dataset/train/no3/17177.png
dataset/train/no3/17685.png
dataset/train/no3/20922.png
dataset/train/no3/21097.png
dataset/train/no3/22041.png
dataset/train/no3/23842.png
dataset/train/no3/27234.png
dataset/train/no3/27616.png
dataset/train/no3/29552.png
dataset/train/no3/30219.png
dataset/train/no3/31572.png
dataset/train/no3/33291.png
dataset/train/no3/37785.png
dataset/train/no3/39697.png
dataset/train/no3/39960.png
dataset/train/no3/40807.png
dataset/train/no3/41270.png
dataset/train/no3/42535.png
dataset/train/no3/44852.png
dataset/train/no3/45921.png
dataset/train/no3/49036.png
dataset/train/no3/49951.png
dataset/train/no3/50080.png
dataset/train/no3/50799.png
dataset/train/no3/51878.png
dataset/train/no3/53120.png
dataset/train/no3/53999.png
dataset/train/no3/55375.png
dataset/train/no3/57945.png
dataset/train/no3/58171.png
dataset/train/no3/58201.png
dataset/train/no3/58645.png
dataset/train/no3/59707.png
dataset/train/no3/59798.png
dataset/train/no3/60290.png
dataset/train/no3/61445.png
dataset/train/no3/62151.png
dataset/train/no3/63272.png
dataset/train/no3/67893.png
dataset/train/no3/68088.png
dataset/train/no3/68200.png
dataset/train/no3/71159.png
dataset/train/no3/71888.png
dataset/train/no3/72427.png
dataset/train/no3/73156.png
dataset/train/no3/73240.png
dataset/train/no3/74982.png
dataset/train/no3/78449.png
dataset/train/no3/80114.png
dataset/train/no3/80276.png
dataset/train/no3/83214.png
dataset/train/no3/83313.png
dataset/train/no3/83780.png
dataset/train/no3/84909.png
dataset/train/no3/86629.png
dataset/train/no3/87193.png
dataset/train/no3/87570.png
dataset/train/no3/88405.png
dataset/train/no3/89929.png
dataset/train/no3/92693.png
dataset/train/no3/92966.png
dataset/train/no3/93593.png
dataset/train/no3/95328.png
dataset/train/no3/95338.png
dataset/train/no3/96939.png
dataset/train/no3/98231.png
dataset/train/no3/99395.png
.dvc/config
.dvcignore
dataset/test/3/04240.png
dataset/test/3/05151.png
dataset/test/3/11505.png
dataset/test/3/27478.png
dataset/test/3/51301.png
dataset/test/3/59322.png
dataset/test/3/65964.png
dataset/test/3/66905.png
dataset/test/3/69181.png
dataset/test/3/70267.png
dataset/test/3/70838.png
dataset/test/3/73570.png
dataset/test/3/74153.png
dataset/test/3/77556.png
dataset/test/3/77825.png
dataset/test/3/79144.png
dataset/test/3/79759.png
dataset/test/3/90923.png
dataset/test/3/94486.png
dataset/test/3/95503.png
dataset/test/no3/05652.png
dataset/test/no3/07464.png
dataset/test/no3/08968.png
dataset/test/no3/09973.png
dataset/test/no3/19571.png
dataset/test/no3/20819.png
dataset/test/no3/39569.png
dataset/test/no3/45750.png
dataset/test/no3/46406.png
dataset/test/no3/48975.png
dataset/test/no3/50604.png
dataset/test/no3/58222.png
dataset/test/no3/63122.png
dataset/test/no3/69725.png
dataset/test/no3/69956.png
dataset/test/no3/75085.png
dataset/test/no3/77238.png
dataset/test/no3/78755.png
dataset/test/no3/87501.png
dataset/test/no3/92813.png
dataset/train/3/00020.png
dataset/train/3/00976.png
dataset/train/3/01851.png
dataset/train/3/02286.png
dataset/train/3/02469.png
dataset/train/3/02573.png
dataset/train/3/02649.png
dataset/train/3/02845.png
dataset/train/3/04807.png
dataset/train/3/04898.png
dataset/train/3/05162.png
dataset/train/3/05393.png
dataset/train/3/06471.png
dataset/train/3/07777.png
dataset/train/3/07921.png
dataset/train/3/07981.png
dataset/train/3/08322.png
dataset/train/3/08870.png
dataset/train/3/09105.png
dataset/train/3/10677.png
dataset/train/3/11193.png
dataset/train/3/12137.png
dataset/train/3/13279.png
dataset/train/3/13401.png
dataset/train/3/13435.png
dataset/train/3/14259.png
dataset/train/3/14612.png
dataset/train/3/14737.png
dataset/train/3/15082.png
dataset/train/3/15503.png
dataset/train/3/16372.png
dataset/train/3/17114.png
dataset/train/3/17260.png
dataset/train/3/18153.png
dataset/train/3/18526.png
dataset/train/3/19465.png
dataset/train/3/20805.png
dataset/train/3/20896.png
dataset/train/3/20935.png
dataset/train/3/21190.png
dataset/train/3/21197.png
dataset/train/3/21273.png
dataset/train/3/21585.png
dataset/train/3/22229.png
dataset/train/3/22378.png
dataset/train/3/22499.png
dataset/train/3/22564.png
dataset/train/3/23177.png
dataset/train/3/24309.png
dataset/train/3/24390.png
dataset/train/3/24515.png
dataset/train/3/25683.png
dataset/train/3/25818.png
dataset/train/3/26296.png
dataset/train/3/26836.png
dataset/train/3/28015.png
dataset/train/3/28886.png
dataset/train/3/29598.png
dataset/train/3/30024.png
dataset/train/3/31001.png
dataset/train/3/32045.png
dataset/train/3/32124.png
dataset/train/3/32443.png
dataset/train/3/32521.png
dataset/train/3/32599.png
dataset/train/3/32848.png
dataset/train/3/33425.png
dataset/train/3/33511.png
dataset/train/3/33717.png
dataset/train/3/34376.png
dataset/train/3/35230.png
dataset/train/3/35830.png
dataset/train/3/35922.png
dataset/train/3/37578.png
dataset/train/3/38590.png
dataset/train/3/38956.png
dataset/train/3/39023.png
dataset/train/3/39554.png
dataset/train/3/39680.png
dataset/train/3/39878.png
dataset/train/3/39953.png
dataset/train/3/40135.png
dataset/train/3/40257.png
dataset/train/3/40668.png
dataset/train/3/41040.png
dataset/train/3/41084.png
dataset/train/3/41150.png
dataset/train/3/41785.png
dataset/train/3/42198.png
dataset/train/3/42782.png
dataset/train/3/43103.png
dataset/train/3/45103.png
dataset/train/3/45236.png
dataset/train/3/46360.png
dataset/train/3/46591.png
dataset/train/3/47723.png
dataset/train/3/47925.png
dataset/train/3/48297.png
dataset/train/3/48350.png
dataset/train/3/49691.png
dataset/train/3/50131.png
dataset/train/3/50569.png
dataset/train/3/50976.png
dataset/train/3/51450.png
dataset/train/3/52296.png
dataset/train/3/54135.png
dataset/train/3/54209.png
dataset/train/3/54810.png
dataset/train/3/56248.png
dataset/train/3/56479.png
dataset/train/3/57091.png
dataset/train/3/59206.png
dataset/train/3/59558.png
dataset/train/3/60070.png
dataset/train/3/60654.png
dataset/train/3/60960.png
dataset/train/3/62894.png
dataset/train/3/63020.png
dataset/train/3/63573.png
dataset/train/3/63880.png
dataset/train/3/64000.png
dataset/train/3/64623.png
dataset/train/3/65183.png
dataset/train/3/65734.png
dataset/train/3/66013.png
dataset/train/3/66216.png
dataset/train/3/66857.png
dataset/train/3/67161.png
dataset/train/3/69789.png
dataset/train/3/70693.png
dataset/train/3/70739.png
dataset/train/3/71589.png
dataset/train/3/72222.png
dataset/train/3/72518.png
dataset/train/3/73238.png
dataset/train/3/73391.png
dataset/train/3/75691.png
dataset/train/3/76263.png
dataset/train/3/76354.png
dataset/train/3/76571.png
dataset/train/3/78186.png
dataset/train/3/78665.png
dataset/train/3/78761.png
dataset/train/3/79857.png
dataset/train/3/80187.png
dataset/train/3/80561.png
dataset/train/3/80999.png
dataset/train/3/81006.png
dataset/train/3/82506.png
dataset/train/3/82963.png
dataset/train/3/83357.png
dataset/train/3/83867.png
dataset/train/3/84609.png
dataset/train/3/84980.png
dataset/train/3/85208.png
dataset/train/3/85346.png
dataset/train/3/85879.png
dataset/train/3/86475.png
dataset/train/3/88016.png
dataset/train/3/88400.png
dataset/train/3/89565.png
dataset/train/3/90014.png
dataset/train/3/90088.png
dataset/train/3/90283.png
dataset/train/3/91120.png
dataset/train/3/92200.png
dataset/train/3/92414.png
dataset/train/3/92456.png
dataset/train/3/93124.png
dataset/train/3/93762.png
dataset/train/3/94567.png
dataset/train/3/95797.png
dataset/train/3/96280.png
dataset/train/3/96336.png
dataset/train/3/96517.png
dataset/train/3/96522.png
dataset/train/3/96942.png
dataset/train/3/97147.png
dataset/train/3/98047.png
dataset/train/no3/00681.png
dataset/train/no3/00802.png
dataset/train/no3/01335.png
dataset/train/no3/01580.png
dataset/train/no3/01604.png
dataset/train/no3/02086.png
dataset/train/no3/02495.png
dataset/train/no3/03239.png
dataset/train/no3/04037.png
dataset/train/no3/04099.png
dataset/train/no3/04157.png
dataset/train/no3/04950.png
dataset/train/no3/05536.png
dataset/train/no3/06072.png
dataset/train/no3/06602.png
dataset/train/no3/07082.png
dataset/train/no3/07104.png
dataset/train/no3/07139.png
dataset/train/no3/08543.png
dataset/train/no3/08813.png
dataset/train/no3/08972.png
dataset/train/no3/09450.png
dataset/train/no3/09856.png
dataset/train/no3/10325.png
dataset/train/no3/10490.png
dataset/train/no3/10935.png
dataset/train/no3/11192.png
dataset/train/no3/11785.png
dataset/train/no3/12132.png
dataset/train/no3/12447.png
dataset/train/no3/15584.png
dataset/train/no3/16443.png
dataset/train/no3/16842.png
dataset/train/no3/16929.png
dataset/train/no3/17773.png
dataset/train/no3/19634.png
dataset/train/no3/19726.png
dataset/train/no3/20023.png
dataset/train/no3/20518.png
dataset/train/no3/21339.png
dataset/train/no3/21443.png
dataset/train/no3/22503.png
dataset/train/no3/23069.png
dataset/train/no3/24205.png
dataset/train/no3/25102.png
dataset/train/no3/25242.png
dataset/train/no3/25807.png
dataset/train/no3/26084.png
dataset/train/no3/26643.png
dataset/train/no3/26879.png
dataset/train/no3/27168.png
dataset/train/no3/27634.png
dataset/train/no3/27724.png
dataset/train/no3/29693.png
dataset/train/no3/30907.png
dataset/train/no3/32557.png
dataset/train/no3/33763.png
dataset/train/no3/34115.png
dataset/train/no3/34742.png
dataset/train/no3/34913.png
dataset/train/no3/36528.png
dataset/train/no3/36567.png
dataset/train/no3/36766.png
dataset/train/no3/37016.png
dataset/train/no3/37191.png
dataset/train/no3/37344.png
dataset/train/no3/37428.png
dataset/train/no3/37754.png
dataset/train/no3/37886.png
dataset/train/no3/39001.png
dataset/train/no3/40922.png
dataset/train/no3/41169.png
dataset/train/no3/41914.png
dataset/train/no3/42135.png
dataset/train/no3/42226.png
dataset/train/no3/42448.png
dataset/train/no3/42702.png
dataset/train/no3/42726.png
dataset/train/no3/43044.png
dataset/train/no3/43311.png
dataset/train/no3/44180.png
dataset/train/no3/44199.png
dataset/train/no3/44331.png
dataset/train/no3/45867.png
dataset/train/no3/46374.png
dataset/train/no3/46430.png
dataset/train/no3/47629.png
dataset/train/no3/48270.png
dataset/train/no3/48509.png
dataset/train/no3/49566.png
dataset/train/no3/49833.png
dataset/train/no3/50261.png
dataset/train/no3/50445.png
dataset/train/no3/50881.png
dataset/train/no3/52030.png
dataset/train/no3/52144.png
dataset/train/no3/53614.png
dataset/train/no3/53906.png
dataset/train/no3/54027.png
dataset/train/no3/54285.png
dataset/train/no3/55634.png
dataset/train/no3/55663.png
dataset/train/no3/55738.png
dataset/train/no3/56247.png
dataset/train/no3/56894.png
dataset/train/no3/58086.png
dataset/train/no3/58198.png
dataset/train/no3/58288.png
dataset/train/no3/59050.png
dataset/train/no3/59651.png
dataset/train/no3/59728.png
dataset/train/no3/59749.png
dataset/train/no3/60352.png
dataset/train/no3/62092.png
dataset/train/no3/62976.png
dataset/train/no3/63200.png
dataset/train/no3/63922.png
dataset/train/no3/64484.png
dataset/train/no3/64512.png
dataset/train/no3/64595.png
dataset/train/no3/64630.png
dataset/train/no3/65208.png
dataset/train/no3/65902.png
dataset/train/no3/67240.png
dataset/train/no3/67650.png
dataset/train/no3/71123.png
dataset/train/no3/72132.png
dataset/train/no3/73069.png
dataset/train/no3/73380.png
dataset/train/no3/73661.png
dataset/train/no3/74345.png
dataset/train/no3/74822.png
dataset/train/no3/75423.png
dataset/train/no3/75723.png
dataset/train/no3/76061.png
dataset/train/no3/76503.png
dataset/train/no3/76950.png
dataset/train/no3/78121.png
dataset/train/no3/79301.png
dataset/train/no3/79340.png
dataset/train/no3/79615.png
dataset/train/no3/79661.png
dataset/train/no3/80266.png
dataset/train/no3/80600.png
dataset/train/no3/81266.png
dataset/train/no3/81341.png
dataset/train/no3/81783.png
dataset/train/no3/82258.png
dataset/train/no3/82474.png
dataset/train/no3/82478.png
dataset/train/no3/82616.png
dataset/train/no3/82824.png
dataset/train/no3/83782.png
dataset/train/no3/85022.png
dataset/train/no3/85252.png
dataset/train/no3/85311.png
dataset/train/no3/85911.png
dataset/train/no3/87593.png
dataset/train/no3/87835.png
dataset/train/no3/89308.png
dataset/train/no3/91413.png
dataset/train/no3/91482.png
dataset/train/no3/91514.png
dataset/train/no3/91825.png
dataset/train/no3/93151.png
dataset/train/no3/93411.png
dataset/train/no3/93469.png
dataset/train/no3/94176.png
dataset/train/no3/94204.png
dataset/train/no3/94806.png
dataset/train/no3/94903.png
dataset/train/no3/96651.png
dataset/train/no3/96833.png
dataset/train/no3/97125.png
dataset/train/no3/97841.png
dataset/train/no3/98470.png
dataset/train/no3/98539.png
dataset/train/no3/99033.png
dataset/train/no3/99348.png
dataset/train/no3/99350.png
/dataset
dlops_key.json
